/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
}
.primary-color{
    background: #E76F51;
}
h1{
    font-size: 3rem;
    margin-bottom: 18px;
}
.slogan{
    color: #E76F51;
}
.gryscale{
    filter: grayscale(100%);
}