/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #264653;
}
.primary-color{
    background: #E76F51;
    padding: 5;
}
h1{
    margin-bottom: 18px;
}
.slogan{
    color: #E76F51;
}
.fesature-slogan::after{
    content: '';
    display: block;
    background-color: #e76f51;
    height: 2px;
    width: 100%;
}
.gryscale{
    filter: grayscale(100%);
}
.fq-image{
    height: 423px;
    width: 431px;
}